<!DOCTYPE html>
<html>

<head>
    <title>Kaldi GStreamer Server Demo</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
</head>

<body>
    <h1>Kaldi GStreamer Server Demo</h1>
    <datalist id="audio-files">
        <option value="english_test.raw">
        <option value="english_test.wav">
        <option value="english_test.ogg">
        <option value="bill_gates-TED.mp3">
        <option value="silence.wav">
        <option value="empty.raw">
    </datalist>
    <h2>Test with audio file:</h2>
    <p>Select file: <input type="text" id="audio-file" list="audio-files"></p>
    <p><input type="button" id="test-button" value="Start"></p>
    <h2>Test with mic:</h2>
    <input type="button" id="record-button" value="Start">
    <h2>Output:</h2>
    <p><textarea id="response" rows="5" cols="40"></textarea></p>
    <script src="{{ static_url("webclient.js") }}" type="text/javascript"></script>
</body>

</html>